@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.navbar{width: 100%;
 background-image: linear-gradient(to right,rgb(238, 139, 46),rgb(251, 16, 16));
 height: 10%;

}
.navbar ul{
 float: right;
}
.navbar ul li{
    display: inline-block;
    margin: 0px 4px ;
   
}
.navbar li a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}
.navbar-text{
    margin-left: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;

}
.fa-solid{
    margin-left: 10px;
   
}
.container-fluid{
    margin-top: 0%;
}
.carousel-item {
background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(carousel-1.jpg);
height:90vh;
background-size: cover;



}
.carousel-caption h5{
    padding-right: 70%;
   

  font-size:50px;
  color: rgb(0, 0, 0);
  width: 130%;

}
.carousel-caption p{
  padding-right: 43%;
  text-align-last: center;


  font-size:20px;
  color: black;
  width: 110%;
  text-align: center;
  font-weight: 500;
}
.carousel-caption button{
   margin-right: 70%;
   margin-bottom: 10%;
   padding: 15px 10px;
  border-radius: 4px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: 700;
  outline: 0;
  border: 0;
  background-image: linear-gradient(to right,rgb(238, 139, 46),rgb(251, 16, 16));
  color: rgb(0, 0, 0);
}
.carousel-caption button:hover{
    transform: scale(1.2) translateY(10px);
    transition: 0.4s;
}
.about h5{
    padding-right: 100%;
 
}
.about p{
    padding-right:28%;
    

  width: 90%;
   
   
}

.breadcrumb li{
    padding-bottom: 10%;
    padding-left: 5%;
   
    
}
.breadcrumb a {
    color: rgb(0, 0, 0);
}
.breadcrumb a:hover{
    color: orangered;
}

.mx-auto{
    position: absolute;
    top: 155%;
    right:60%;
}
.images .second{
    margin-left: 60%;
        position: absolute;
        top: 130%;
        right:60%;
}
.images .third{
    position: absolute;
    top: 160%;
    left: 10px;
    padding-bottom: 10px;
  
}
.img-thumbnail{
    margin-left: 30px;
    margin-top: 30px;
}
.first{
    margin-left: 40px;
}

.bottomabout{
    display: flex;
    margin-bottom: 20%;
    
}
.images{
    flex-direction: column;
    margin-right: 80px;
}
.rightside{
    width: 70%;
  margin-top: 9%;
  margin-left: 15%;
  margin-right: 10%;
}
.rightside h1{
    width: 85%;
}
.fa-check{
    margin: 5px;
    
}
.readmore{
    margin: 10px;
    padding: 5px 20px;
    font-size: 20px;
    background-image: linear-gradient(to right,rgb(238, 139, 46),rgb(251, 16, 16));
    border: 0px;
    color: rgb(0, 0, 0);
    border-radius: 3px;
}
.readmore:hover{
    transform: scale(1.2) translateY(5px);
    transition: 0.4s;
}
.rightside i{
    color: red;
    font-size: 17px;
}
.contact{
     margin: 20px;
}
.images img{
    border-color: rgb(255, 77, 0);
    border-width: 3px;
}
.contactdiv{
 text-align: center;
margin: 5% 25%;
width: 50%;
background-image: linear-gradient(to bottom,rgb(238, 139, 46),rgb(251, 16, 16));
border-radius: 10px;
  
}
.contactdiv p{
       margin: 10px 20px;
       font-size: 15px;

}
.mb-3 .form-label{
    float: left;
}
.form-check-label{
    float: left;
}
hr.hrline {
    
border: 1px solid rgb(0, 0, 0);
margin: 0px 13%;
  

}
.btn {
   padding: 10px 20px;
    margin-bottom: 20px;
    

}

.Dashboard{
   
border: 1;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;
  margin-right: 18px;
  background: transparent;
}
.offcanvas-body ul li{
    list-style: none;
    
    margin: 15px;
}
.offcanvas-body ul li a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: black;
  
}
.carousel-indicators button{
   margin-bottom: 40px;
  
}
.search-job{
    background-image: linear-gradient(to right,rgb(238, 139, 46),rgb(251, 16, 16));
  
   margin: 30px 90px;
   display: flex;
  
  
}
.key{
    margin: 20px 50px;
    width: 20%;
    
}
.key input{
    padding: 5px;
    border-radius: 4px;
    border: 0;
}
.company{
    margin: 20px 50px;
width: 20%;}
.Location{
    margin: 20px 50px;
    width: 20%;
}
.search-job .button{
 
    padding: 5px 15px;
    background-color: black;
    color: white;
    border: 0;
    font-size: 18px;
    margin: 20px 50px;
    border-radius: 4px;
 

}
.nav-item a{
    text-decoration: none;
}
.nav-item h6{
    color: black;
    font-size: 20px;
}
.d-flex .button{
    background-color: black;
    color: white;
    border: 0;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
}
.d-flex .button:hover{
    background-color: rgb(80, 76, 76);
}
.d-flex a {
text-decoration: none;

}
.fa-heart{
    margin-right: 30px;
}
.job-item{
    background-image: linear-gradient(to right,rgb(238, 139, 46),rgb(251, 16, 16));
} 
.row .Quick{
   margin-left: 50px;
   margin-right: 0px;
}
.row .Footcontact{
    margin-right:90px ;
   
}
.row .Quick a{
  
  height: 20px;


}
.Footcontact{
    margin: 10px 50px;
    
}
.row .copy{
    padding-bottom: 15px;
}
.row a{
    text-decoration: none;
}
.footer-menu a{
    padding: 15px;
  color: white;    
}
.Links a{
  margin: 5px;
}
.arrow a{
 float: right;
}
.scrollup{
    position: fixed;
    right: 30px;
    bottom: 30px;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
   z-index: 99;
  
    
  }
  .scrollup i{
    color: rgb(0, 0, 0);
  
    background-image: linear-gradient(to top,rgb(238, 139, 46),rgb(251, 16, 16));
  
    padding: 8px 10px;
    font-size: 25px;
    box-shadow: 0 0 40px rgb(0, 0, 0);
  border-radius: 3px;
  
  
   
  
  
  }
  .scrollup.active{
    pointer-events: auto;
    opacity: 1;
  }
  #navbar{
   
   position: fixed;
    width: 100%;
   /* background: crimson;  */
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.5s ease;
    z-index: 999;
    
    
}
.Browse{
    margin-top: 5%;
}
.fw-bold{
    margin: 20px 10px;
}
.col-md-3{
    padding: 30px;
    margin: 40px;
}
.chartcard{
    
    margin: 35px;
}
.resume button{
       
       background-color: black;    
    border-radius: 3px ;
    border: 0;
    margin-left: 215%;
    margin-top: 4%;
    width: 105%;
    height: 35px;
   
 
    
    
     
}


.resume button a{
    color: white;
    font-size: 14px;
    
}
.resume button:hover{
   
    transform: scale(1.1) translateY(5px);
    transition: 0.4s;
    
}
.resume button a:hover{
    color: white;

}

.resume-head{
 text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 15px;
}
.img-1{
    margin-right: 50%;
    margin-top: 10%;
}
.img-2{
    margin-left: 25%;
  
}
.resume-left h5{
    padding-top: 10%;
}
.resume-left{
   width: 60%;
   margin: 0% 5%;
}
.resume-left i{
    color: red;
}
.resume-card-header{
    text-align: center;
}
.resume-step img{
   margin-left: 25%;
   margin-top: 5%;
}
.resume-para{
    margin: 5% 15%;
    
}
.resume-para i{
    margin: 4%;
    background-image: linear-gradient(to right,rgb(238, 139, 46),rgb(251, 16, 16));
    padding: 15px 18px;
    border-radius: 40px;
}
.resume-card-main{
        margin: 0 5%;
}
.resume-bottom{
    display: flex;
    margin-bottom: 5%;
    
}
.resume-card-body h5{
    margin-left: 5%;
}
.resume-box a{
    text-decoration: none;
    color: black;
}
.view{

    text-align: center;
 
}
.view button{
background-color: rgb(41, 40, 40);
color: white;
padding: 12px 30px;
font-size: 16px;
border-radius: 4px;
font-weight: 600;


}
.view button:hover{
    transform: scale(1.1) translateY(5px);
    transition: 0.4s;
    
}
.background-template{
    background-image: linear-gradient(to right,rgb(238, 139, 46),rgb(251, 16, 16));  
   
    
}

.background-template img{
padding-top: 60px;
padding-right: 60px;
padding-left: 60px;
padding-bottom: 12px;
 width: 100%;
}
.background-template p {
    font-size: 15px;
    font-family: var(--font-poppins);
}
.template-c{
   margin: 30px 60px;
   
}

.background-template p a {
color: white;
}
:root{
    --font-poppins: 'Poppins', sans-serif;
    --font-manrope: 'Manrope', sans-serif;
}
.CV{
    font-family: 'Open Sans', sans-serif;
}
.name-template{
    padding-bottom: 15px;
  font-size: 40px;
}
.template-text{
    font-size: 16px;
}
.template-header{
  font-size: 25px;
}
.skills-template h3{
    font-size: 25px;
}
.template-c h3{
    font-size: 25px;
}
.skills-template li {
    font-size: 16px;
}
.template-card{
 margin: 10px;
 padding-bottom: 0px;
}
.temp-button button{
    margin-top: 3%;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 600;
}
#cv-template{
    display: none;
}
.startup{
    background-image: linear-gradient(to right,rgb(238, 139, 46),rgb(251, 16, 16));
    text-align: center;
    margin-bottom: 15px;
    border-radius: 30px;
    padding-top: 3px;
  
 

}
.endup{
    
        background-image: linear-gradient(to right,rgb(238, 139, 46),rgb(251, 16, 16));
        text-align: center;
        margin-bottom: 15px;
        border-radius: 30px;
        padding-top: 3px;
      margin-left: 5px;
     
    
    
}
.lineh{
    background-image: linear-gradient(to right,rgb(238, 139, 46),rgb(251, 16, 16));
  
    width: 100%;
    height: 5px;
}
#edtitletemp , #edschooltemp , #edcitytemp , #achievetemp ,#exptitletemp ,#expcomptemp ,#expcitytemp{
    font-weight: 1000;
}